.App {
  text-align: center;
}

.predictions-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.predictions {
  width: 60%;
  /* border: 1px solid blue; */
  text-align: left;
}
